<%= form_for [@user, @recipe] do |f| %>
    <label>Recipe name:</label><br>

    <%= f.hidden_field :user_id %>

    <%= f.text_field :name %><br>
    <label>Recipe Procedure</label><br>
    <%= f.text_area :procedure %><br>
    <%= f.submit%>
  <% end %>