<%= form_for [@user, @recipe] do |f| %>
    
    <%= f.hidden_field :user_id %>

    <label>Recipe name:</label><br>
    <%= f.text_field :name %><br>

    <label>Ingredients:</label><br>
    <%= f.text_field :ingredient_ids %><br>

    <label>Recipe Procedure:</label><br>
    <%= f.text_area :procedure %><br>
    <%= f.submit%>
  <% end %>