<h1>Most Recently Created Recipe</h1>
<h2><%= @recipe.created_at.strftime("Created on: %A, %b %e, at %l:%M %p") %> </h2>
<div>
<h3><%= @recipe.title %></h3>
<h4>Ingredients</h4>
    <ul>
      <% @recipe.ingredients.each do |ingredient| %>
        <li><%= "#{ingredient.name} X #{ingredient.quantity}" %></li>
      <% end %>
    </ul>

<h4>Procedure</h4>
<p><%= @recipe.procedure %></p>
</div>

<h2><%= link_to "Homepage", root_path(@user)%></h2>